@import url('https://fonts.googleapis.com/css?family=Noto Sans JP');
input[type=text], select{
    text-align: center;
    
    display: inline-block;
    border: none;
    background-color: transparent;
    
}
.container{
    width: 80%;
    text-align: center;
    font-family: 'Noto Sans JP', Calibri,sans-serif;
}
#name{
    width: 375px;
    padding: 0 7px;
    margin: 0 0;
    font-weight: bold;
    font-size: 14px;
    font-family:  'Noto Sans JP', Calibri,sans-serif;
    
}
#desc{
    width: 350px;
    padding: 0 1px;
    margin: -1 0;
    font-size: 12px;
    font-family:  'Noto Sans JP', Calibri,sans-serif;
}

.boxlefttext{
    width: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 200px;
    margin-top: 0;
    font-size: 10px;
    float: left;
    text-align: left;
    background-color: transparent;
    border: none;

}
.box{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    text-align: left;
    background-color: transparent;
    border: none;
}

/*.profileoutline{
    width: 400px;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(201, 240, 253);
    border: 1px solid black;
    border-radius: 4px;
}*/

.profileoutline{
    width: 400px;
    padding: 10px 5px;
    margin: 8px 2px 8px 2px;
    display: inline-block;
    /*background-color: rgb(201, 240, 253);*/
    border: 1px solid black;
    border-radius: 4px;
}
#print{
    transition: 0.3s;
}
.label{
    font-size: 14px;
    padding-bottom: 1px;

}
button{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    background-color: transparent;
    transition: ease 0.3s;
}
button:hover{
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightgrey;
}
